@import "styles/mixins";

.footer {
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  font-size: 14px;
  @include break-point($max-width: $md-min) {
    font-size: 10px;
  }
}
